.position{
    position: relative;
}
.img:hover{
    cursor: pointer;
    transform: scale(1.2); 
    transition: all .5s ease;    
}
.superSavers{
    position: absolute;
    top: 63%;  
    left: 25%; 
    width: 250px;
    background-color: white;
    box-sizing: border-box;
    line-height: 1.25em;
    margin: 0;
    padding: 10px;
    font-family: Oswald,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: .02em;
    color: #141414;
}
.superSaversLarge{
    position: absolute;
    top: 65%;  
    left: 30%; 
    width: 250px;
    background-color: white;
    box-sizing: border-box;
    line-height: 1.25em;
    margin: 0;
    padding: 10px;
    font-family: Oswald,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: .02em;
    color: #141414;
}
.subTitle{
    font-size: 13px;
    line-height: 0px;
}
.des{
    font-weight: 400;
    font-size: 12px;
    font-family: Arimo,sans-serif,Arial,sans-serif;
    letter-spacing: .02em;
    text-align: center;
    box-sizing: border-box;
    line-height: 20px;
    padding: 0 15px 10px;
    margin: 0;
    color: #2d2d2d;
}
.shopNow{
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0);
    min-width: 130px;
    max-width: 100%;
    transition: all .3s ease;
    font-family: Oswald,sans-serif;
    cursor: pointer;
    padding: 10px 41px 8px;
    color: #000000;
}

@media all and (max-width: 320px) {
    .superSavers{
        position: absolute;
        top: 52%;  
        left: 8%; 
    }
}
@media all and (min-width: 321px) and (max-width: 375px) {
    .superSavers{
        position: absolute;
        top: 57%;  
        left: 13%; 
    }
}
@media all and (min-width: 376px) and (max-width: 425px) {
    .superSavers{
        position: absolute;
        top: 62%;  
        left: 18%; 
    }
}
  